{% extends 'layout.html' %}
{% load rbac %}

{% block css %}
    <style>
        table {
            font-size: 12px;
        }

        .user-area ul {
            padding-left: 20px;
        }

        .user-area li {
            cursor: pointer;
            padding: 2px 0;
        }

        .user-area li a {
            display: block;
        }

        .user-area li.active {
            font-weight: bold;
            color: red;
        }

        .user-area li.active a {
            color: red;
        }

        .roles_area tr td a {
            display: block;
        }

        .roles_area tr.active {
            background-color: #f1f7fd;
            border-left: 3px solid #fdc00f;
        }

        .permission-area tr.root {
            background-color: #f1f7fd;
        }

        .permission-area tr.root td i {
            margin: 3px;
        }

        .permission-area .node {

        }

        .permission-area .node input[type="checkbox"] {
            margin: 0 5px;
        }

        .permission-area .node .parent {
            padding: 5px 0;
        }

        .permission-area .node label {
            font-weight: normal;
            margin-bottom: 0;
            font-size: 12px;
        }

        .permission-area .node .children {
            padding: 0 0 0 20px;
        }

        .permission-area .node .children .child {
            display: inline-block;
            margin: 2px 5px;
        }

        .panel-body {
            font-size: 12px;
        }

        .panel-body .form-control {
            font-size: 12px;
        }

        .select-help {
            float: left;
        }

        .select-help label {
            font-weight: normal;
            cursor: pointer;
        }

        .select-help .check-all {
            float: left;
            display: inline-block;
            margin-right: 8px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="liuhao-container">
        <div class="col-md-3 user-area">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-book" aria-hidden="true"></i>用户信息
                </div>
                <div class="panel-body">
                    <ul>
                        {% for row in user_list %}
                            <li class="{% if row.id|safe == user_id %}active{% endif %}">
                                <a href="?uid={{ row.id }}">{{ row.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 roles_area">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="type" value="roles">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-tags" aria-hidden="true"></i>角色信息
                        {% if user_id %}
                            <button class="right btn btn-success btn-xs" style="padding: 2px 8px; margin:-3px">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                保存
                            </button>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        提示：选中用户之后才能够给指定的用户添加角色
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>角色</th>
                            <th>选项</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in role_list %}
                            <tr class="{% if row.id|safe == role_id %}active{% endif %}">
                                <td>
                                    {% if user_id %}
                                        <a href="?uid={{ user_id }}&rid={{ row.id }}">
                                            {{ row.title }}
                                        </a>
                                    {% else %}
                                        <a href="?rid={{ row.id }}">
                                            {{ row.title }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <input type="checkbox" name="roles" value="{{ row.id }}"
                                           {% if row.id in user_roles_dict %}checked{% endif %}>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div class="col-md-6 permission-area">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="type" value="permissions">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-gavel" aria-hidden="true"></i>权限信息
                        {% if role_id %}
                            <button href="" class="right btn btn-success btn-xs" style="padding: 2px 8px; margin:-3px">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                保存
                            </button>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        提示：选中角色之后才能给指定的角色添加权限
                    </div>
                    <table class="table">
                        <tbody>
                        {% for menu in menus_list %}
                            <tr class="root">
                                <td>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {{ menu.title }}
                                    <div class="select-help">
                                        <div class="check-all">
                                            <label for="check_all_{{ menu.id }}">全选</label>
                                            <input type="checkbox" id="check_all_{{ menu.id }}" name="permissions">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% if menu.children %}
                                <tr class="node">
                                    <td>
                                        {% for second_menu in menu.children %}
                                            <div class="parent">
                                                {% if second_menu.id in roles_permissions_dict %}
                                                    <input type="checkbox" id="permission_{{ second_menu.id }}"
                                                           name="permissions" value="{{ second_menu.id }}" checked>
                                                {% else %}
                                                    <input type="checkbox" id="permission_{{ second_menu.id }}"
                                                           name="permissions" value="{{ second_menu.id }}">
                                                {% endif %}
                                                <label for="permission_{{ second_menu.id }}">{{ second_menu.title }}(菜单)</label>
                                            </div>
                                            <div class="children">
                                                {% for third_menu in second_menu.children %}
                                                    <div class="child">
                                                        {% if third_menu.id in roles_permissions_dict %}
                                                            <input type="checkbox" id="permission_{{ third_menu.id }}"
                                                                   name="permissions" value="{{ third_menu.id }}"
                                                                   checked>
                                                        {% else %}
                                                            <input type="checkbox" id="permission_{{ third_menu.id }}"
                                                                   name="permissions" value="{{ third_menu.id }}">
                                                        {% endif %}
                                                        <label for="permission_{{ third_menu.id }}">{{ third_menu.title }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $('.check-all input:checkbox').change(function () {
                $(this).parents('.root').next().find(':checkbox').prop('checked', $(this).prop('checked'))
            })
        })
    </script>
{% endblock %}