<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table border="1">
        <thead>
        <tr>
            <th>标题</th>
            <th>url</th>
            <th>别名</th>
            <th>一级菜单</th>
            <th>所属菜单</th>
        </tr>
        </thead>
        <tbody>
        {% for field in formset %}
            <tr>
                {% for row in field %}
                    <td>{{ row }} <span style="color: red">{{ row.errors.0 }}</span></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="提交">
</form>
</body>
</html>