body {
    margin: 0;
}


.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.page-header {
    height: 48px;


    min-width: 1190px;
    background-color: #204d74;
    margin: 0;

    line-height: 48px;
}

.page-header .logo {
    font-size: 18px;
    width: 200px;


    text-align: center;
    color: white;

    border-right: 1px solid white;

}

.page-header .rmenus a {
    display: inline-block;
    padding: 0 15px;
    margin: 0;
    color: white;
}

.page-header .rmenus a:hover {
    background-color: #2e6da4;
}

.avatar {
    padding: 0 20px;
}

.avatar img {
    border-radius: 50%;
}

.user-info {
    position: absolute;
    width: 200px;
    top: 48px;
    right: 17px;
    z-index: 100;
    background-color: #5e5e5e;
    display: none;
}

.avatar:hover .user-info {
    display: block;

}

.page-body .menus {
    width: 200px;


    position: absolute;

    left: 0;
    top: 48px;
    right: 0;
    bottom: 0;
}

.page-body .menus a {
    display: block;
    padding: 10px 50px;
    border-bottom: 1px solid #dddddd;
}

.page-body .content {
    position: absolute;
    left: 200px;
    top: 48px;
    right: 0;
    bottom: 0;
    border-left: 1px solid #dddddd;


    overflow: scroll;
    z-index: 99;
}