{% extends 'mother.html' %}
{% block content %}
    <div>
        <h1>班级列表</h1>
        <a class="btn btn-primary" href={% url 'add_class' %}>添加</a>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <td>班级id</td>
                <td>班级名称</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {% for class in class_list %}
                <tr>
                    <td>{{ class.id }}</td>
                    <td>{{ class.title }}</td>
                    <td>
                        <a class="btn btn-primary" href={% url 'edit_class' class.id %}>编辑</a>
                        <a class="btn btn-primary" href={% url 'del_class' class.id %}>删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}