{% extends 'mother2.html' %}

{% block css %}
    <style>
      #login{
          width: 500px;
          height: 500px;
          position: absolute;
          left: 30%;
          top: 25%;
      }
    </style>
{% endblock %}

{% block content %}
<div id="login">
<form method="post" action={% url 'login' %}>
    {% csrf_token %}
    <h1>用户登录</h1>
    <p>
        <label for="">用户名</label>
        {{ obj.username }}{{ obj.errors.username.0 }}
    </p>
    <p>
        <label for="">密码</label>
        {{ obj.password }}{{ obj.errors.password.0 }}
    </p>
    <div>
        <input class="btn btn-primary" type="submit" value="登录">
        <a class="btn btn-primary" href={% url 'register' %}>注册</a>
        <br>
        {{ msg }}
    </div>
</form>
</div>
{% endblock %}