<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>添加老师</h1>
    <form method="post" action="/add_teacher/">
        <p>
            老师姓名：<input type="text" name="name" placeholder="老师姓名">
        </p>
        <p>
            任教班级：
            {# 将选项变成一个多选的使用multiple #}
            <select multiple size="6" name="class_id">
                {% for class in class_list %}
                    <option value="{{ class.id }}">{{ class.title }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="提交">
        <a href="/teacher/">取消</a>
    </form>

</body>
</html>