<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>编辑学生</h1>
    <form method="POST" action="/edit_student/">
        <p>
            <input style="display: none" type="text" name="id" value="{{ student.id }}">
            学生姓名<input type="text" name="name" value="{{ student.name }}">
            所属班级<select name="class_id" >
                {% for class in class_list %}
                    {% if class.id == student.class_id %}
                        <option selected value="{{ class.id }}">{{ class.title }}</option>
                    {% else %}
                        <option value="{{ class.id }}">{{ class.title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
</body>
</html>