{% extends 'mother.html' %}

{% block css %}
    <style>
        #add_teacher{
            position: absolute;
            width: 800px;
            height: 800px;
            left: 15%;
            top: 5%;
        }
        h1{
            font-size: 35px;
            margin: 50px 0;
            color: #204d74;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="add_teacher">
        <form method="post" action={% url 'add_teacher' %}>
            {% csrf_token %}
            <h1>添加教师</h1>
            <p>
                <label style="font-size: 20px">教师姓名</label>
                {{ obj.teacher_name }}{{ obj.errors.teacher_name.0 }}
            </p>
            <p>
                <label style="font-size: 20px">管理班级</label>
                {{ obj.teacher__cles }}
            </p>
            <input class="btn btn-primary" type="submit" value="确认添加">
            <a class="btn btn-primary" href={% url 'teacher' %}>取消</a>
        </form>
    </div>
{% endblock %}