{% extends 'mother.html' %}
{% block css %}
    <style>
        #edit_class {
            position: absolute;
            width: 500px;
            height: 500px;
            left: 30%;
            top: 10%;
        }

        h1 {
            margin: 50px 0;
            font-size: 35px;
            color: #204d74;
            font-family: "Microsoft Tai Le";
        }
    </style>
{% endblock %}
{% block content %}
    <div id="edit_class">
        <form method="post" action={% url 'edit_class' nid %}>
            {% csrf_token %}
            <h1>编辑班级</h1>
            <p>
                <label style="font-size: 20px">班级名称</label>
                {{ obj.title }}{{ obj.errors.title.0 }}
            </p>
            <input class="btn btn-primary" type="submit" value="确认">
            <a class="btn btn-primary" href={% url 'class' %}>取消</a>
        </form>
    </div>
{% endblock %}