{% extends 'mother.html' %}

{% block content %}
    <div>
        <h1>学生列表</h1>
        <a class="btn btn-primary" href={% url 'add_student' %}>添加</a>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <td>学生id</td>
                <td>学生姓名</td>
                <td>学生性别</td>
                <td>学生所属班级</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {% for student in student_list %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.student_name }}</td>
                    <td>{{ student.get_gender_display }}</td>
                    <td>{{ student.cls.title }}</td>
                    <td>
                        <a class="btn btn-primary" href={% url 'edit_student' student.id %}>编辑</a>
                        <a class="btn btn-primary" href={% url 'del_student' student.id %}>删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}