{% extends 'mother2.html' %}
{% block css %}
    <style>
        #register{
            position: absolute;
            width: 500px;
            height: 500px;
            margin: 0;
            left: 30%;
            top: 25%;
        }
    </style>
{% endblock %}

{% block content %}
<div id="register">
<form method="post" action={% url 'register' %}>
    {% csrf_token %}
    <h1>用户注册</h1>
    <p>
        <label for="">用户名</label>
        {{ obj.username }}{{ obj.errors.username.0}}
    </p>
    <p>
        <label for="">密码</label>
        {{ obj.password }}{{ obj.errors.password.0 }}
    </p>
    <input class="btn btn-primary" type="submit" value="提交">
</form>
</div>

{% endblock %}