{% extends 'layout.html' %}

{% block content %}
    <div class="liuhao-container">
        {% if add_btn %}
            <div style="margin: 0 5px 5px 5px">
                {{ add_btn|safe }}
            </div>
        {% endif %}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                {% for verbose_name in verbose_name_list %}
                    <th>{{ verbose_name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr>
                    {% for row in data %}
                        <td>{{ row }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                {{ pager.page_html|safe }}
            </ul>
        </nav>
    </div>
{% endblock %}
