<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>添加学生信息</h1>
        <form method="post" action="/add_student/">
            {#   这里的name是作为key返回给后台的输入的数据作为value         #}
            <p>
                学生姓名<input type="text" name="name">
                所属班级
                <select name="class_id">
                    {% for class in class_list %}
                        <option value="{{ class.id }}">{{ class.title }}</option>
                    {% endfor %}
                </select>
            </p>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>