{% extends 'layout.html' %}

{% block css %}
    <style>
        .hide1 {
            display: none;
        }

        .shadow {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: black;
            opacity: 0.4;
            z-index: 999;
        {#这个值越大越靠外#}
        }

        .modal1 {
            z-index: 1000;
            position: fixed;
            left: 50%;
            top: 50%;
            height: 300px;
            width: 400px;
            background: white;
            margin-left: -200px;
            margin-top: -150px;
        }
    </style>
{% endblock %}

{% block new_content %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">首页</a></li>
        <li role="presentation"><a href="#">班级管理</a></li>
        <li role="presentation"><a href="#">班级添加</a></li>
    </ul>
    <div>
        <div style="margin: 10px 0">
            <a class="btn btn-primary" href="/add_class/">添加</a>
            <a class="btn btn-primary" onclick="showModal()">对话框添加</a>
        </div>
        {# 里面含有班级学生的全部数据 #}
        <table class="table table-striped table table-bordered table table-hover">
            <thead>
            <tr>
                <td>id</td>
                <td>班级名称</td>
                <td>对班级操作</td>
            </tr>
            </thead>
            <tbody>
            {% for class in class_list %}
                <tr>
                    <td>{{ class.id }}</td>
                    <td>{{ class.title }}</td>
                    <td>
                        <a href="/edit_class/?nid={{ class.id }}" class="glyphicon glyphicon-pencil"
                           style="margin-right: 10px"></a>
                        {# a标签有默认跳转的功能，当点击的时候，先弹出对话框再进行跳转 #}
                        {# <td><a href='https://wwww.baidu.com' onclick=" return modal_edit()">对话框编辑</a></td> #}
                        {# return modal_edit() 加上函数里面返回的return false 就能阻止默认事件的发生 这样就不会跳转到百度了 #}
                        {# return 一个函数的时候 在form表单的时候还可以再使用 #}
                        <a onclick="modal_edit(this)" class="fa fa-pencil-square-o" style="margin-right: 10px"></a>
                        <a class="glyphicon glyphicon-trash" href="/del_class/?nid={{ class.id }}"
                           style="margin-right: 10px"></a>
                        <a onclick="modal_del(this)" class="fa fa-trash" aria-hidden="true"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# 添加分页标签 #}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {# ============================================模态对话框的方式操作班级列表======================================== #}
    <div id="shadow" class="shadow hide1"></div>

    {# ==================模态对话框添加班级======================== #}
    <div id="modal" class="modal1 hide1">
        <h3>班级添加框</h3>
        <p>
            <input id="title" type="text" name="title">
        </p>
        <input type="button" value="提交" onclick="Ajax_add();"><span id="errormsg"></span>
        <input type="button" value="取消" onclick="Conclemodal();">
    </div>

    {# ==================模态对话框编辑班级====================== #}
    <div id="edit_modal" class="modal1 hide1">
        <h3>班级编辑框</h3>
        <p>
            <input id="edit_id" type="text" name="id" style="display: none">
            <input id="edit_title" type="text" name="title">
        </p>
        <input type="button" value="确认" onclick="Ajax_edit();">
        <input type="button" value="取消" onclick="Conclemodal();">
    </div>

    {# ====================模态对话框删除班级======================= #}
    <div id="del_modal" class="modal1 hide1">
        <h3>班级删除框</h3>
        <p>
            <input id="del_id" type="text" name="id" style="display: none">
            <input id="del_title" type="text" name="title">
        </p>
        <input type="button" value="确认删除" onclick="Ajax_del();">
        <input type="button" value="取消" onclick="Conclemodal();">
    </div>

{% endblock %}

{% block js %}
    {# =================================用js的方式添加点击事件================================= #}
    <script src="/static/jquery-1.12.4.js"></script>
    <script>
        {# =================让遮罩层显示出来的函数==================== #}

        function showModal() {
            document.getElementById('shadow').classList.remove('hide1');
            document.getElementById('modal').classList.remove('hide1');
        }

        {# =================让遮罩层隐藏出来的函数==================== #}

        function Conclemodal() {
            document.getElementById('shadow').classList.add('hide1');
            document.getElementById('modal').classList.add('hide1');
            document.getElementById('edit_modal').classList.add('hide1');
            document.getElementById('del_modal').classList.add('hide1');
        }

        {# ============================模态对话框添加班级的函数============================= #}

        function Ajax_add() {
            {#有几点必须指定，提交到哪，提交的数据类型，提交的数据，提交成功之后做什么，提交失败之后做什么    #}
            $.ajax({
                url: '/modal_add_class/', {# 提交到哪 #}
                type: 'POST', {# 以什么方式提交 #}
                data: {'title': $('#title').val()}, {# 拿到用户输入的值 #}
                success: function (data) {
                    {#  当服务端处理完成后，返回数据之后，函数会自动调用  #}
                    {# data是服务端返回的值 #}
                    console.log(data);
                    if (data == 'ok') {
                        {# ajax怎么都不会跳转，他返回的是一个字符串，如果想要跳转必须写js #}
                        {# form表单会自动跳转，ajax返回字符串怎么都不会跳转 #}
                        location.href = '/class';
                        {# 这里就是js中的跳转方法 #}
                    } else {
                        $('#errormsg').text(data);
                    }
                },
            })
        }

        {# =================================让编辑班级的模态对话框显示出来的函数============================ #}

        function modal_edit(ths) {
            document.getElementById('shadow').classList.remove('hide1');
            document.getElementById('edit_modal').classList.remove('hide1');
            /*
            1.获取当前标签
            2.获取当前标签的父标签
            3.再找上面标签的上面的标签
            4.获取到当前行班级名称，班级id，赋值到编辑对话框里面
             */
            {# 用$(ths) 的形式获取当当前的标签 #}
            var row = $(ths).parent().prevAll();
            {# 会将拿到的元素放在一个列表（元组）里面 是从下往上取的 #}
            {# 拿到row[0]的文本信息 写法就是$(row[0]).text() #}
            var class_title = $(row[0]).text();
            var class_id = $(row[1]).text();
            $('#edit_title').val(class_title);
            $('#edit_id').val(class_id);

        }

        {# ==============================把模态对话框的数据提交给后台的函数=============================== #}

        function Ajax_edit() {
            $.ajax({
                url: '/modal_edit_class/',
                type: 'POST',
                data: {'id': $('#edit_id').val(), 'title': $('#edit_title').val()},
                success(args) {
                    {# args是一个字符串类型 #}
                    {# 前端json的使用 JSON.parse(字符串)==>变成一个对象 #}
                    {# 前端json的使用 JSON.stringfy(对象)==>变成一个字符串 #}
                    arg = JSON.parse(args);
                    if (arg.status) {
                        {# location.reload()表示当前页面的刷新 #}
                        location.reload();
                    }
                }
            })
        }

        {# =================================让删除班级的模态对话框显示出来的函数============================ #}

        function modal_del(thos) {
            document.getElementById('shadow').classList.remove('hide1');
            document.getElementById('del_modal').classList.remove('hide1');
            var row = $(thos).parent().prevAll();
            var class_id = $(row[1]).text();
            var class_title = $(row[0]).text();
            $('#del_id').val(class_id);
            $('#del_title').val(class_title);
        }

        {# ================================把模态对话框的数据提交给后台的函数=============================== #}

        function Ajax_del() {
            $.ajax({
                url: '/modal_del_class/',
                type: 'POST',
                data: {'id': $('#del_id').val(), 'title': $('#del_title').val()},
                success(arg) {
                    arg = JSON.parse(arg);
                    if (arg.status) {
                        location.reload();
                    }
                }
            })
        }
    </script>
{% endblock %}
